.h1 {
  font-size: 30px; }

.h2 {
  font-size: 20px; }

.h6 {
  font-size: 15px; }

@font-face {
  font-family: "LM-Bold";
  src: url("../assets/fonts/LEMONMILK-Bold.otf"); }

.FBold {
  font-family: "LM-Bold"; }

@font-face {
  font-family: "LM-Medium";
  src: url("../assets/fonts/LEMONMILK-Medium.otf"); }

.FMedium {
  font-family: "LM-Medium"; }

@font-face {
  font-family: "LM-Light";
  src: url("../assets/fonts/LEMONMILK-Light.otf"); }

.FLight {
  font-family: "LM-Light"; }

.icon {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-link {
  transform: font-family 2s, font-size 2s; }
  .nav-link:hover {
    font-family: "LM-Medium";
    font-size: 20px; }

.nav-link--activo {
  font-family: "LM-Bold";
  color: black; }

.h1 {
  font-size: 30px; }

.h2 {
  font-size: 20px; }

.h6 {
  font-size: 15px; }

@font-face {
  font-family: "LM-Bold";
  src: url("../assets/fonts/LEMONMILK-Bold.otf"); }

.FBold {
  font-family: "LM-Bold"; }

@font-face {
  font-family: "LM-Medium";
  src: url("../assets/fonts/LEMONMILK-Medium.otf"); }

.FMedium {
  font-family: "LM-Medium"; }

@font-face {
  font-family: "LM-Light";
  src: url("../assets/fonts/LEMONMILK-Light.otf"); }

.FLight {
  font-family: "LM-Light"; }

.bg-grad {
  background-image: linear-gradient(to right, lightgrey, grey) !important; }

.background-image {
  background-image: url(../assets/imgs/bluebackground.jpg); }

.bg-grey {
  background-color: grey; }

.bg-beige {
  background-color: beige; }

.bg-red {
  background-color: red; }

.bg-black {
  background-color: black; }

.contactBackfacebook {
  background-image: url(../assets/imgs/facebookback.jpg); }

.contactBackinstagram {
  background-image: url(../assets/imgs/instagramback.jpg); }

.contactBackwhatsapp {
  background-image: url(../assets/imgs/whatsappback.jpg); }

@media screen and (min-width: 1300px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end; } }

@media screen and (max-width: 1000px) {
  .brand {
    flex-direction: column-reverse; } }

.resaltado {
  color: black;
  font-size: 25px; }

.height-bar {
  height: 150px; }
