@import "colors";

.bg-grad {
	background-image: linear-gradient(to right, lightgrey, grey)!important;
}
.background-image {
	background-image: url(../assets/imgs/bluebackground.jpg);
}
@each $bg, $color in $colors {
	.bg-#{$bg}{
		background-color:#{$bg};
	}
}
@each $bgimg in facebook, instagram, whatsapp{
	.contactBack#{$bgimg}{
		background-image: url(../assets/imgs/#{$bgimg}back.jpg);
	}
}