
.h1 {
	font-size: 30px;
}
.h2 {
	font-size: 20px;
}
.h6 {
	font-size: 15px;
}
@each $value in Bold, Medium, Light {
	@font-face{
		font-family: "LM-#{$value}";
		src: url("../assets/fonts/LEMONMILK-#{$value}.otf")
		}
	.F#{$value}{
		font-family: "LM-#{$value}";
		}
}