
@import "fonts";

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	}
.nav-link {
	transform: font-family 2s, font-size 2s;
	&:hover{
		font-family: "LM-Medium";
		font-size: 20px ;
	}
}
.nav-link--activo {
	font-family: "LM-Bold";
	color: black;
}