.title {
	display:flex;
	flex-direction: column;
}
.gridHeadUbi {
	border-bottom: solid white 2px;
}
.UbiTitle {
 margin: 0px;
 padding-top: 10px
}
.UbiSubtitle {
	color: #212529;
	margin: 0px;
	padding-top: 10px
}
.navListUbi {
	display:flex;
	list-style: none;
	padding: 20px;
	justify-content: space-around;
}
.navListUbiLink {
	text-decoration: none;
	color: white;
	transform: font-family 2s, font-size 2s;
	&:hover{
		font-family: "LM-Medium";
		font-size: 20px ;
	}
}
.navListUbiLink--active {
	color: black;
}
.imgsUbi{
	display: flex;
	height:350px;
}
.contactUbi {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.addressUbi{
	color: white;
	font-size: 35px;
	padding: 20px;
}
.addressUbi--subtitle{
	font-size: 30px
}
.addressUbi--link{
	text-decoration: none;
	color:black;
	transform: font-size 2s;
	&:hover{ 
		font-size: 40px;
	}
}
.footerUbi {
	border-top: solid white 2px;
}
.footerList {
	display: flex;
	list-style: none;
	justify-content: space-around;
}
.footerListLinks{
	text-decoration: none;
	color: white;
}
.copyrightUbi {
	text-align: center;
	color: white;
}